.error-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);  /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;  /* This centers the modal vertically */
  z-index: 1000;
}

.error-modal {
  width: 400px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  padding: 20px;
  text-align: center;
  z-index: 1001;
  animation: fadeIn 0.3s ease-in-out;  /* Smooth fade-in animation */
}

.error-modal-content {
  padding: 20px;
}

.close-button {
  background-color: #00473e;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;  /* Smooth hover transition */
}

.close-button:hover {
  background-color: #fa7f00;  /* Color change on hover */
}

/* Smooth fade-in animation for the modal */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
