
.subscription-section {
  background: linear-gradient(135deg, #ff9a00, #f15a24);
  padding: 50px 0;
  text-align: center;
}

.subscription-section .title-logo {
  width: 120px;
  margin: 20px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.box-icon {
  width: 80px;
  height: auto;
}

.top-left {
  position: absolute;
  top: -50px;
  left: -100px;
}

.top-right {
  position: absolute;
  top: -50px;
  right: -100px;
}

.subscription-plans {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 100px;
}

.plan-card {
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
  width: 300px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.plan-card img.box-icon {
  width: 60px;
  margin-bottom: 20px;
}

.plan-card h3 {
  font-family: 'Fatcat', sans-serif;
  font-size: 22px;
  color: #333;
  margin-bottom: 10px;
}

.plan-card .price {
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  color: #333;
  font-weight: bold;
  margin-bottom: 15px;
}

.card-line {
  border-bottom: 1px solid #e0e0e0; /* Light grey line */
  width: 90%; /* Adjust the width */
  margin: 10px auto; /* Center it with auto */
}

.plan-card ul {
  font-family: 'Arial', sans-serif;
  list-style: none;
  padding: 0;
  margin: 0;
}

.plan-card ul li {
  margin-bottom: 8px;
  color: #555;
}

.quantity-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

.quantity-buttons button {
  background-color: #00473e;
  color: white;
  font-size: 18px;
  border: none;
  padding: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
}

.quantity-buttons span {
  padding: 0 15px;
  font-size: 18px;
}

.buy-now-button {
  display: block;
  margin: 20px auto; /* Centers the button horizontally */
  background-color: #006400; /* Dark green */
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 16px;
}

.buy-now-button:hover {
  background-color: #0d8a4f;
}
